body {
    color: white;
    background-color: limegreen;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-radius: 15px;
    background: #006400;
    box-shadow:  5px 5px 10px #004d00,
             -5px -5px 10px #007b00;
    
   
}
.pelialue {
    height: 80vh;
     display: grid;
    position: relative;
     align-items: center;
     justify-content: center;
     transition: .5s all;
    

    #napit {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
}
button {
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 20px 0;
    border-radius: 15px;
    background: #006400;
    box-shadow:  2px 2px 8px #004d00,
                 -2px -2px 8px #007b00;
    color: white;
    border: 1px solid black;
}
button:hover {
    transform: scale(1.1);
    
}
h5 {
    font-size: clamp(1.2rem, 6vw, 2rem);
    margin: 0;
}
#uusipeli {
    margin-top: 20px;
    margin-bottom: auto;
}
img {
    width: 20%;
}
.tietokone {
    position: relative;
    text-align: center;
}
.pelaaja {
    text-align: center;
    width: 100%;
}
.voittoruutu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    background: -moz-linear-gradient(45deg, rgba(38,172,190,1) 0%, rgba(255,255,255,1) 50%, rgba(142,255,0,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(38,172,190,1) 0%, rgba(255,255,255,1) 50%, rgba(142,255,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(38,172,190,1) 0%, rgba(255,255,255,1) 50%, rgba(142,255,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(38,172,190,1) 0%, rgba(255,255,255,1) 50%, rgba(142,255,0,1) 100%);
    background: linear-gradient(45deg, rgba(38,172,190,1) 0%, rgba(255,255,255,1) 50%, rgba(142,255,0,1) 100%);
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    h2 {
        font-weight: 900;
    }
}

.peitekortti {
    width: 20%;
   left: 30%;
}

.piilota {
    display: none;
}


@media only screen and (min-width: 1000px) {
    img {
        width: 10%;
    }
    .peitekortti {
        width: 10%;
       left: 40%;
    }
}
