body {
    color: white;
    background-color: limegreen;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: darkgreen;
    border-radius: 5px;
    
   
}
.pelialue {
    height: 80vh;
     display: grid;

     align-items: center;
     justify-content: center;
    

    #napit {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
}
button {
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 20px 0;
    background-color: darkgreen;
   color: white;
    
}
h5 {
    font-size: clamp(1.2rem, 6vw, 2rem);
    margin: 0;
}
#uusipeli {
    margin-top: 20px;
    margin-bottom: auto;
}
img {
    width: 20%;
}
.tietokone {
    position: relative;
    text-align: center;
}
.pelaaja {
    text-align: center;
    width: 100%;
}
.peitekortti {
    width: 20%;
   left: 30%;
}

.piilota {
    display: none;
}

@media only screen and (min-width: 1000px) {
    img {
        width: 10%;
    }
    .peitekortti {
        width: 10%;
       left: 40%;
    }
}
